.directions {
  // background: url("../images/phone/directions-decor.png") 0 20% no-repeat;
  background-image: image-set("../images/phone/directions-decor.png" 1x, "../images/phone/directions-decor-retina.png" 2x);
  background-repeat: no-repeat;
  background-position: 0 20%;
  background-size: 220px;

  @include for-size(tablet-portrait) {
    background: none;
  }

  @include for-size(medium) {
    // background: url("../images/phone/bg-courses.png") center -20px no-repeat;
    background-image: image-set("../images/phone/bg-courses.png" 1x, "../images/tablet/bg-courses.png" 2x);
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: contain;
  }

  @include for-size(desktop) {
    background-position: center -20px;
    background-size: 85%;
  }

  @include for-size(desktop-big) {
    background-position: center -50px;
    background-size: 1300px;
  }

  @include for-size(full) {
    background-position: center center;
    background-size: 1200px;
  }
}

.webp .directions {
  @include for-size(medium) {
    background-image: image-set("../images/phone/bg-courses.webp" 1x, "../images/tablet/bg-courses.webp" 2x);
  }
}

.directions__list {
  @include for-size(medium) {
    display: grid;
    grid-template-columns: 250px 360px;
    gap: 18px 22px;
    // grid-template-rows: repeat(auto-fill, max-content);
    justify-content: center;
    padding: 0;

    & :first-child,
    & :nth-child(5n) {
      grid-row: span 3;
    }

    & :not(:first-child) {
      flex-direction: row;
    }

    .course {
      margin-bottom: 0;
    }

    .directions__item:not(:first-child) {
      .course__image {
        max-width: 150px;
      }

      .course__container {
        position: relative;
        justify-content: flex-start;
      }

      .course__link {
        position: absolute;
        right: 25px;
        bottom: 25px;
        align-self: flex-end;
        min-width: 30px;
        padding: 5px 0;
      }

      .course__icon {
        width: 9px;
        height: 13px;
      }
    }

    .course__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      padding-right: 5px;
      padding-left: 20px;
      font-size: $fz-small-md;
    }
  }

  @include for-size(desktop-big) {
    grid-template-columns: 360px 525px;
    gap: 28px 34px;

    // стилизация первого курса
    & :first-child {
      .course__image {
        max-width: 100%;
      }
    }

    // стилизация всех остальных курсов
    .directions__item:not(:first-child) {
      .course__image {
        max-width: 220px;
      }

      .course__description {
        padding-right: 34px;
        padding-left: 34px;
      }

      .course__link {
        min-width: 45px;
        padding: 8px 0;
      }

      .course__icon {
        width: 9px;
        height: 13px;
      }
    }

    .course__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      padding-right: 5px;
      padding-left: 46px;
      font-size: $fz-small-lg;
    }
  }
}

.course {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  line-height: 1.5;
}

.course__image {
  display: block;
  max-width: 250px;
}

.course__container {
  @include shadow;
  display: flex;
  flex-grow: 1;
  background: $color-white;
}

.course__description {
  flex-grow: 1;
  padding: 20px;
  font-size: $fz-small-md;
}

.course__title {
  font-weight: bold;
  font-size: $fz-subtitle-sm;

  @include for-size(desktop-big) {
    font-size: $fz-medium-md;
  }
}

.course__timetable {
  margin: 8px 0;
}

.course__teacher {
  color: $color-accent;
}

.course__link {
  @include flexbox(center);
  min-width: 43px;
  background: $color-regular;
}

.course__icon {
  width: 13px;
  height: 15px;
  fill: $color-white;
}

.button-more {
  @include flexbox(center);
  @include shadow;
  width: 100%;
  padding: 17px 0;
  font-size: $fz-small-md;
  background: $color-white;

  @include for-size(medium) {
    margin-top: 18px;
  }

  @include for-size(desktop-big) {
    margin-top: 30px;
    font-size: $fz-small-lg;
  }
}
