.directions {
  background: url("../images/phone/directions-decor.png") 0 20% no-repeat;
  background-size: 220px;

  @include for-size(tablet-portrait) {
    background: none;
  }

  @include for-size(medium) {
    background: url("../images/phone/bg-courses.png") center no-repeat;
    background-size: contain;
  }
}

.section__content {
  padding: 0 35px;

  @include for-size(tablet-portrait) {
    padding: 0 75px;
  }

  @include for-size(desktop) {
    padding: 0;
  }
}

.directions__list {
  @include for-size(medium) {
    display: grid;
    grid-template-columns: 250px 360px;
    // grid-template-rows: repeat(auto-fill, max-content);
    justify-content: center;
    padding: 0;
    gap: 18px 22px;

    & :first-child {
      grid-row: span 3;
    }

    & :not(:first-child) {
      flex-direction: row;
    }

    .course {
      margin-bottom: 0;
    }

    .directions__item:not(:first-child) {
      .course__image {
        max-width: 150px;
      }

      .course__container {
        position: relative;
        justify-content: flex-start;
        
      }

      .course__link {
        position: absolute;
        bottom: 25px;
        right: 25px;
        min-width: 30px;
        padding: 5px 0;
        align-self: flex-end;
      }

      .course__icon {
        width: 9px;
        height: 13px;
      }
    }

    .course__description {
      display: flex;
      justify-content: center;
      padding-right: 5px;
      flex-direction: column;
      padding: 0;
      padding-left: 20px;
      font-size: $fz-small-md;
    }
  }

  @include for-size(desktop-big) {
    grid-template-columns: 360px 1fr;
    gap: 28px 34px;

    & :first-child {
      grid-row: span 3;
      .course__image {
        min-width: 400px;
      }
    }

    & :not(:first-child) {
      flex-direction: row;
    }

    .course {
      margin-bottom: 0;
    }

    .directions__item:not(:first-child) {
      .course__image {
        max-width: 220px;
      }

      .course__container {
        position: relative;
        justify-content: flex-start;
        
      }

      .course__link {
        position: absolute;
        bottom: 25px;
        right: 25px;
        min-width: 30px;
        padding: 5px 0;
        align-self: flex-end;
      }

      .course__icon {
        width: 9px;
        height: 13px;
      }
    }

    .course__description {
      display: flex;
      justify-content: center;
      padding-right: 5px;
      flex-direction: column;
      padding: 0;
      padding-left: 20px;
      font-size: $fz-small-md;
    }
  }
}

.directions__title {
  margin-bottom: 40px;

  @include for-size(tablet-portrait) {
    margin-bottom: 45px;
  }

  @include for-size(desktop-big) {
    margin-bottom: 65px;
  }
}

.course {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.course__image {
  display: block;
  max-width: 250px;
}

.course__container {
  @include shadow;
  display: flex;
  flex-grow: 1;
  background: $color-white;
}

.course__description {
  flex-grow: 1;
  padding: 20px;
  font-size: $fz-small-md;
}

.course__title {
  font-weight: bold;
  font-size: $fz-subtitle-sm;
}

.course__timetable {
  margin: 13px 0;
}

.course__teacher {
  color: $color-accent;
}

.course__link {
  @include flexbox(center);
  min-width: 43px;
  background: $color-regular;
}

.course__icon {
  width: 13px;
  height: 15px;
  fill: $color-white;
}

.button-more {
  @include flexbox(center);
  @include shadow;
  width: 100%;
  padding: 17px 0;
  font-size: $fz-small-md;
  background: $color-white;
}