@include for-size(tablet-portrait) {
  .socials__icon {
    &--vk {
      width: 17px;
      height: 12px;
    }

    &--tw {
      width: 16px;
      height: 11px;
    }

    &--fb {
      width: 7px;
      height: 12px;
    }
  }


  .socials li:not(:last-child) {
    margin-right: 11px;
  }
}

.footer-top {
  @include for-size(desktop) {
    padding: 70px 0;
    background: url("../images/phone/bg-action.jpg") center no-repeat;
    background-size: cover;
  }

  &__container {
    @include for-size(desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 955px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}

.footer__form {
  max-width: 415px;
  margin: 0 auto;
}

.action {
  padding: 70px 35px;
  background: url("../images/phone/bg-action.jpg") 22% 50% no-repeat;

  @include for-size(desktop) {
    order: 2;
    padding: 0;
    background: none;
  }
}

.form-action__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: $fz-section - 10px;
  line-height: 27px;
}

.form-action__item {
  margin-bottom: 20px;
}

.form-action__label {
  position: relative;
  display: block;
}

.form-action__input {
  display: block;
  width: 100%;
  padding: 10px 15px 10px 0;
}

.form-action__border {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: $color-regular;
}

.form-action__input:focus + .form-action__border {
  height: 2px;
}

.form-action__button {
  @include flexbox(center);
  width: 100%;
  margin-top: 35px;
  padding: 24px 0;
  color: $color-white;
  background: $color-accent;
}

.footer__info {
  display: grid;
  grid-template-rows: auto;
  row-gap: 30px;
  padding: 50px 35px 0;
  color: $color-white;
  background: $bg-dark;

  @include for-size(tablet-portrait) {
    padding: 75px 75px 0;
  }

  @include for-size(desktop) {
    max-width: 420px;
    padding: 0;
    color: $color-regular;
    background: none;
  }

  .info__container {
    max-width: 460px;
    margin: 0;

    @include for-size(medium) {
      max-width: 530px;
    }
  }

  .footer__address {
    font-style: normal;

    @include for-size(tablet-portrait) {
      max-width: 360px;
    }
  }

  .info-list {
    display: grid;

    @include for-size(phone-small) {
      grid-template-columns: 202px 1fr;
      column-gap: 32px;
    }

    @include for-size(tablet-portrait) {
      grid-template-columns: 202px 1fr;
      column-gap: 32px;
    }
  }

  .info-list__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .info-list__text {
    font-size: $fz-regular;
    line-height: 20px;
  }

  .info-list__text-small {
    display: block;
    font-size: $fz-small;
  }

  .socials__icon {
    path {
      fill: #ffffff;
    }
  }

  a:hover,
  a:focus {
    color: $color-accent;
  }
}

.footer-bottom {
  padding: 40px 0 25px;
  color: transparentize($color: $color-white, $amount: 0.5);
  background: $bg-dark;

  @include for-size(tablet-portrait) {
    padding: 30px 0 75px;
  }

  @include for-size(desktop) {
    padding: 30px 0 25px;
  }

  .footer-content__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;

    @include for-size(phone-small) {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: fit-content(100%) auto;
      justify-content: unset;
    }

    @include for-size(tablet-portrait) {
      justify-content: flex-start;
      padding: 0 75px;
    }

    @include for-size(desktop) {
      justify-content: space-between;
      max-width: 955px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }
}

.footer__copyright,
.footer__company {
  margin-bottom: 25px;

  @include for-size(tablet-portrait) {
    margin-bottom: 0;
  }
}

.footer__copyright {
  margin-right: 32px;

  @include for-size(desktop) {
    order: 2;
    margin: 0;
  }
}
