.main {
  margin-top: -53px;

  @include for-size(tablet-portrait) {
    padding: 0;
  }
}

@include for-size(full) {
  // .main {
  //   height: 100vh;
  // }

  // .scroller {
  //   overflow-y: scroll;
  //   scroll-snap-type: y mandatory;
  //   -webkit-overflow-scrolling: touch;
  // }

  .scroller__item {
    min-height: 100vh;
    // scroll-snap-align: start;
  }
}

.section {
  @include flexbox(center);
  flex-direction: column;
  padding-bottom: 70px;

  @include for-size(tablet-portrait) {
    padding-bottom: 120px;
  }

  @include for-size(desktop) {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  @include for-size(desktop-big) {
    margin-top: -70px;
    padding-top: 70px;
    padding-bottom: 150px;
  }
}
