.products {
  background: url("../images/phone/bg-prices.png") center no-repeat,
    url("../images/phone/subscription.png") bottom no-repeat;
  background-position: center, center bottom -40px;
  background-size: auto, 310px;
}

.products__title {
  margin-bottom: 40px;
}

.products__content {
  @include for-size(tablet-portrait) {
    padding: 0;
  }
}

.tablist-buttons {
  @include flexbox(space-between);
  margin-bottom: 35px;

  @include for-size(tablet-portrait) {
    margin-bottom: 45px;
  }

  @include for-size(desktop-big) {
    margin-bottom: 50px;
  }
}

.products__button {
  position: relative;
  color: $color-accent;

  &--active::after {
    @include pseudo;
    width: 100%;
    height: 1px;
    background: $color-accent;
  }
}

.products__item {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: 250px;
  gap: 30px;
}

// Карточки абонементов
.subscription {
  @include shadow;
  @include flexbox(center);
  flex-direction: column;
  min-width: 250px;
  // padding: 30px;
  line-height: 1.5;
  text-align: center;
  background: $color-white;

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }
}

.subscription__title {
  font-weight: bold;
  font-size: $fz-medium-md;
  text-transform: capitalize;
}

.subscription__time {
  max-width: 135px;
  margin: 8px 0;
  color: $color-accent;
  font-size: $fz-small-md;
}

.subscription__price {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: $fz-subtitle-md;
}

.subscription__button {
  width: 100%;
  max-width: 150px;
  padding: 12px 0;
  color: $color-white;
  font-size: $fz-small-md;
  text-align: center;
  background: $color-regular;
}
