.tablist-buttons {
  @include flexbox(space-between);
  margin-bottom: 35px;

  @include for-size(tablet-portrait) {
    justify-content: center;
    margin-bottom: 45px;
  }

  @include for-size(desktop-big) {
    margin-bottom: 50px;
  }

  .team & {
    margin-bottom: 0;
  }
}

.tabcontent--members,
.tabcontent--products {
  display: none;

  &.active {
    display: block;
  }
}
