.team {
  position: relative;
  font-size: $fz-small-md;
  line-height: 15px;
  background: image-set("../images/phone/bg-team.png" 1x, "../images/phone/bg-team-retina.png" 2x) left top 40px no-repeat;
  background-size: contain;

  // background-image: image-set("../images/phone/bg-hero.png" 1x, "../images/desktop/bg-hero.png" 2x);
  // background-repeat: no-repeat;
  // background-position: center;
  &::before {
    @include for-size(desktop-big) {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      max-width: 100vw;
      height: 1400px;
      // background: url("../images/phone/bg-team.png") left top no-repeat;
      background: image-set("../images/phone/bg-team.png" 1x, "../images/phone/bg-team-retina.png" 2x) left top -25px no-repeat;
      background-size: contain;

      @include pseudo;
    }
  }

  .section__title {
    @include for-size(tablet-portrait) {
      margin-bottom: 75px;
    }

    @include for-size(desktop) {
      margin-bottom: 120px;
    }
  }

  .section__content {
    @include for-size(phone) {
      padding: 0 50px;
    }
  }

  @include for-size(desktop-big) {
    padding-bottom: 224px;
    line-height: 20px;
    background: none;
  }
}

// NEW

.team__content {
  display: grid;
  grid-template-columns: minmax(230px, 360px);
  gap: 0;
  justify-content: center;
  width: 100%;

  @include for-size(tablet-portrait) {
    grid-template-columns: minmax(min-content, 260px) minmax(min-content, 320px);
    gap: 40px;
  }

  @include for-size(desktop) {
    grid-template-columns: minmax(min-content, 400px) minmax(min-content, 480px);
    gap: 70px;
  }
}

.member:not(:last-child) {
  @include for-size(tablet-portrait) {
    margin-bottom: 60px;
  }

  @include for-size(desktop) {
    margin-bottom: 90px;
  }
}

.member__container {
  display: flex;
  align-items: center;
  background: $color-white;

  @include shadow;

  @include for-size(tablet-portrait) {
    position: relative;
    padding: 10px 10px 10px 80px;
  }

  @include for-size(desktop) {
    padding: 20px 25px 20px 140px;
  }
}

.member__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member__image {
  max-width: 82px;

  @include for-size(tablet-portrait) {
    position: absolute;
    bottom: 10px;
    left: -20px;
    max-width: 92px;
  }

  @include for-size(desktop) {
    max-width: 140px;
  }
}

.member__about {
  display: grid;
  grid-template-columns: 3fr min-content;
  width: 100%;
  padding-right: 10px;

  @include for-size(tablet-portrait) {
    padding-right: 0;
  }

  @include for-size(desktop) {
    font-size: $fz-team-text-lg;
  }
}

.member__info {
  padding-left: 15px;

  @include for-size(tablet-portrait) {
    grid-row: span 2;
    padding-left: 0;
  }
}

.member__position,
.member__name {
  color: $color-accent;
}

.member__direction {
  margin-top: 6px;
}

.member__socials {
  align-self: center;
  justify-self: center;
}

.member__social-link {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.member__link-container {
  display: none;

  @include for-size(tablet-portrait) {
    display: block;
  }

  @include for-size(desktop) {
    @include flexbox(center);
  }
}


.member__link {
  position: relative;
  display: block;

  &::after {
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color-regular;

    @include pseudo;
  }
}
// Tablist buttons


// Tablist text content

.tabcontent {
  display: none;

  &--active {
    display: block;
  }
}

.member-description {
  display: none;

  @include for-size(tablet-portrait) {
    display: block;
  }
}

.member-description__name {
  font-weight: bold;
  font-size: $fz-team-name-sm;

  @include for-size(tablet-portrait) {
    margin-bottom: 7px;
    font-size: $fz-team-name-md;
  }

  @include for-size(desktop) {
    margin-bottom: 11px;
    font-size: $fz-team-name-lg;
  }
}

.member-description__experience {
  margin-bottom: 15px;
  color: $color-accent;
  font-size: $fz-team-exp-sm;

  @include for-size(tablet-portrait) {
    font-size: $fz-team-exp-md;
  }

  @include for-size(desktop) {
    margin-bottom: 24px;
    font-size: $fz-team-exp-lg;
  }
}

.member-description__text {
  font-size: $fz-team-text-sm;

  &:not(:last-child) {
    margin-bottom: 10px;

    @include for-size(tablet-portrait) {
      margin-bottom: 15px;
    }

    @include for-size(desktop) {
      margin-bottom: 20px;
    }
  }

  @include for-size(desktop) {
    font-size: $fz-team-text-lg;
  }
}

.member__description--mobile {
  margin-top: 25px;

  @include for-size(tablet-portrait) {
    display: none;
  }
}

// Slider

.slider {
  position: relative;
}

.slider__item {
  @include for-size(phone) {
    display: none;

    &--active {
      display: block;
    }
  }
}


.slider__controls {
  position: absolute;
  right: 0;
  bottom: -45px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-size(tablet-portrait) {
    bottom: -45px;
  }

  @include for-size(desktop) {
    bottom: -75px;
  }

  &--desktop-fw {
    right: 50%;
    transform: translateX(50%);

    @include for-size(desktop) {
      bottom: 50%;
      justify-content: space-between;
      width: 105%;

      .slider__button {
        transform: translateY(50%);

        &--prev {
          background: $color-regular;

          .slider__icon {
            fill: $color-white;
          }
        }

        @include shadow;
      }

      .slider__counter {
        display: none;
      }
    }
  }

  &--full-width {
    top: 25px;
    right: -($mobileWidth / 2);
    left: -($mobileWidth / 2);
    // width: 100% + $mobileWidth;
    justify-content: space-between;
    max-height: 30px;

    .slider__counter {
      display: none;

      @include for-size(tablet-portrait) {
        display: block;
      }
    }

    @include for-size(tablet-portrait) {
      top: unset;
      right: 0;
      left: unset;
      justify-content: center;
      width: unset;
    }
  }
}

.slider__icon {
  max-width: 10px;
  max-height: 13px;
  fill: $color-regular;

  @include for-size(desktop) {
    max-width: 13px;
    max-height: 16px;
  }
}

.slider__button {
  // position: relative;
  // top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 16px;
  // padding: 8px 2px;
  border: 1px solid $color-regular;

  &--team {
    // position: absolute;
    // top: 0;
    width: 16px;
    height: 30px;

    @include for-size(tablet-portrait) {
      position: relative;
      width: 30px;
      height: 20px;
    }

    @include for-size(desktop) {
      width: 45px;
      height: 30px;
    }
  }

  &--next {
    // right: 0;
    background: $color-regular;

    .slider__icon {
      fill: $color-white;
    }
  }

  .slider__icon {
    display: block;
  }

  @include for-size(tablet-portrait) {
    width: 30px;
    height: 20px;
  }

  @include for-size(desktop) {
    width: 45px;
    height: 30px;
  }
}

.slider__counter {
  margin: 0 10px;
  font-size: $fz-team-text-lg;

  @include for-size(desktop) {
    font-size: $fz-team-name-md;
  }
}

.slider-counter__total {
  font-size: $fz-team-text-sm;

  @include for-size(desktop) {
    font-size: $fz-team-text-lg;
  }
}
