.team {
  font-size: $fz-small-md;
  line-height: 15px;
  background: url("../images/phone/bg-team.png") left top -25px no-repeat;
  background-size: contain;

  @include for-size(desktop-big) {
    padding-bottom: 224px;
    line-height: 20px;
    background: none;
  }

  .section__title {
    @include for-size(tablet-portrait) {
      margin-bottom: 75px;
    }

    @include for-size(desktop) {
      margin-bottom: 120px;
    }
  }

  .section__content {
    @include for-size(phone) {
      padding: 0 50px;
    } 
  }
}

.bg-container {
  @include for-size(desktop-big) {
    background: url("../images/phone/bg-team.png") left center no-repeat;
    background-size: 1000px;
  }
}

// .team-slider {
//   @include flexbox(center);
//   flex-wrap: nowrap;
//   align-items: flex-start;
// }

// .slider-content {
//   margin: 0 15px;
// }

// .slider__button {
//   position: relative;
//   top: 25px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 8px 2px;
//   border: 1px solid $color-regular;

//   &--next {
//     right: 0;
//     background: $color-regular;

//     & .slider__icon {
//       fill: $color-white;
//     }
//   }
// }

// .slider__icon {
//   max-width: 10px;
//   max-height: 13px;
//   fill: $color-regular;
// }

// .member {
//   @include flexbox(center);
//   @include shadow;
//   flex-wrap: nowrap;
//   background: $color-white;
// }

// .member__image {
//   max-width: 82px;
// }

// .member__description {
//   @include flexbox(space-between);
//   flex-grow: 1;
//   flex-wrap: nowrap;
// }

// .member__container {
//   padding-left: 15px;
// }

// .member__socials {
//   @include flexbox(space-between);
//   flex-direction: column;
//   padding: 0 20px;
// }

// .member__info {
//   margin-bottom: 12px;
//   color: $color-accent;
// }

// .member__link {
//   &:not(:last-child) {
//     margin-bottom: 10px;
//   }
// }

// .member__icon {
//   &--vk {
//     max-width: 18px;
//     max-height: 12px;
//   }

//   &--tw {
//     max-width: 16px;
//     max-height: 12px;
//   }
// }

// .slider-content__experience {
//   margin: 25px 0 20px;
//   color: $color-accent;
// }

// .slider-content__text {
//   margin-bottom: 6px;
//   line-height: 15px;
// }


// NEW

.team__content {
  display: grid;
  grid-template-columns: minmax(230px, 360px);
  gap: 0;
  justify-content: center;
  width: 100%;

  @include for-size(tablet-portrait) {
    grid-template-columns: minmax(min-content, 260px) minmax(min-content, 320px);
    gap: 40px;
  }

  @include for-size(desktop) {
    grid-template-columns: repeat(2, minmax(min-content, 490px));
    gap: 70px;
  }
}

.member:not(:last-child) {
  @include for-size(tablet-portrait) {
    margin-bottom: 60px;
  }

  @include for-size(desktop) {
    margin-bottom: 90px;
  }
}

.member__container {
  @include shadow;
  display: flex;
  align-items: center;
  // padding-right: 10px;
  background: $color-white;

  @include for-size(tablet-portrait) {
    position: relative;
    padding: 10px 10px 10px 80px;
  }

  @include for-size(desktop) {
    padding: 20px 25px 20px 140px;
  }
}

.member__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member__image {
  max-width: 82px;

  @include for-size(tablet-portrait) {
    position: absolute;
    bottom: 10px;
    left: -20px;
    max-width: 92px;
  }

  @include for-size(desktop) {
    max-width: 140px;
  }
}

.member__about {
  display: grid;
  grid-template-columns: 3fr min-content;
  width: 100%;
  padding-right: 10px;

  @include for-size(tablet-portrait) {
    padding-right: 0;
  }

  @include for-size(desktop) {
    font-size: $fz-team-text-lg;
  }
}

.member__info {
  padding-left: 15px;

  @include for-size(tablet-portrait) {
    grid-row: span 2;
    padding-left: 0;
  }
}

.member__position,
.member__name {
  color: $color-accent;
}

.member__direction {
  margin-top: 6px;
}

.member__socials {
  align-self: center;
  justify-self: center;
}

.member__social-link {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 7px;
  }
}

.member__link-container {
  display: none;

  @include for-size(tablet-portrait) {
    display: block;
  }

  @include for-size(desktop) {
    @include flexbox(center);
  }
}


.member__link {
  position: relative;
  display: block;

  &::after {
    @include pseudo;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $color-regular;
  }
}
// Tablist buttons


// Tablist text content

.tabcontent {
  display: none;

  &--active {
    display: block;
  }
}

.member-description {
  display: none;

  @include for-size(tablet-portrait) {
    display: block;
  }
}

.member-description__name {
  font-weight: bold;
  font-size: $fz-team-name-sm;

  @include for-size(tablet-portrait) {
    margin-bottom: 7px;
    font-size: $fz-team-name-md;
  }

  @include for-size(desktop) {
    margin-bottom: 11px;
    font-size: $fz-team-name-lg;
  }
}

.member-description__experience {
  margin-bottom: 15px;
  color: $color-accent;
  font-size: $fz-team-exp-sm;

  @include for-size(tablet-portrait) {
    font-size: $fz-team-exp-md;
  }

  @include for-size(desktop) {
    margin-bottom: 24px;
    font-size: $fz-team-exp-lg;
  }
}

.member-description__text {
  font-size: $fz-team-text-sm;

  @include for-size(desktop) {
    font-size: $fz-team-text-lg;
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @include for-size(tablet-portrait) {
      margin-bottom: 15px;
    }

    @include for-size(desktop) {
      margin-bottom: 20px;
    }
  }
}

.member__description--mobile {
  margin-top: 25px;

  @include for-size(tablet-portrait) {
    display: none;
  }
}

// Slider

.slider {
  position: relative;
}

.slider__item {
  @include for-size(phone) {
    display: none;

    &--active {
      display: block;
  }
  }
}



.slider__controls {
  position: absolute;
  right: 0;
  bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-size(tablet-portrait) {
    bottom: -45px;
  }

  @include for-size(desktop) {
    bottom: -75px;
  }

  &--full-width {
    $mobileWidth: 60px;
    left: -($mobileWidth / 2);
    right: -($mobileWidth / 2);
    top: 25px;
    // width: 100% + $mobileWidth;
    justify-content: space-between;
    max-height: 30px;

    @include for-size(tablet-portrait) {
      left: unset;
      right: 0;
      top: unset;
      width: unset;
      justify-content: center;
    }

    .slider__counter {
      display: none;

      @include for-size(tablet-portrait) {
        display: block;
      }
    }
  }
}

.slider__icon {
  max-width: 10px;
  max-height: 13px;
  fill: $color-regular;

  @include for-size(desktop) {
    max-width: 13px;
    max-height: 16px;
  }
}

.slider__button {
  // position: relative;
  // top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 16px;
  // padding: 8px 2px;
  border: 1px solid $color-regular;

  @include for-size(tablet-portrait) {
    width: 30px;
    height: 20px;
  }

  @include for-size(desktop) {
    width: 45px;
    height: 30px;
  }

  &--team {
    // position: absolute;
    // top: 0;
    width: 16px;
    height: 30px;

    @include for-size(tablet-portrait) {
      position: relative;
      width: 30px;
      height: 20px;
    }
  
    @include for-size(desktop) {
      width: 45px;
      height: 30px;
    }
  }

  &--next {
    // right: 0;
    background: $color-regular;

    .slider__icon {
      fill: $color-white;
    }
  }

  .slider__icon {
    display: block;
  }

}

.slider__counter {
  margin: 0 10px;
  font-size: $fz-team-text-lg;

  @include for-size(desktop) {
    font-size: $fz-team-name-md;
  }
}

.slider-counter__total {
  font-size: $fz-team-text-sm;
  @include for-size(desktop) {
    font-size: $fz-team-text-lg;
  }
}
