.testimonials {
  padding-bottom: 141px;

  @include for-size(desktop) {
    padding-bottom: 150px;
  }
}

.testimonial__container {
  @include shadow;
  padding: 10px 15px 30px;
  font-size: $fz-team-text-sm;
  line-height: 15px;
  background: $color-white;

  @include for-size(tablet-portrait) {
    padding: 30px 15%;
    font-size: $fz-team-text-lg;
    line-height: 20px;
  }
}

.testimonial__quotes-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.testimonial__icon {
  max-width: 28px;
  max-height: 25px;
}

.testimonial__text-container {
  margin-bottom: 25px;
}

.testimonial__text:not(:last-child) {
  margin-bottom: 15px;
}

.author {
  display: grid;
  grid-template-rows: 52px;
  grid-template-columns: 52px 1fr;
  gap: 15px;
}

.author__image-container {
  display: flex;
  justify-content: center;
}

.author__image {
  max-width: $testimonialValue;
}

.author__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author__name {
  color: $color-accent;
  font-size: $fz-regular-md;
  line-height: 1;
}

.author__date {
  line-height: 20px;
}

.author__socials {
  display: flex;
}

.author__icon {
  max-width: 14px;
  max-height: 12px;

  &--vk {
    max-width: 17px;
  }
}

.author__link {
  display: flex;
  margin-right: 10px;
}

// NEW swiper

.testimonials__slider {
  max-width: 100vw;
  max-height: 700px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #fff;
}


.swiper-pagination--testimonials {
  @include for-size(desktop) {
    display: none;
  }
}