block globalVars 
    include ../modules/_variables

block variables

block mixins
    include ../modules/_mixins
    
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Landing page Йога-центра в Санкт-Петербурге, сделанный by Ereburg")
        meta(name="keywords" content="йога, йога-центра, ereburg")
        meta(name="author" content="Ereburg")
        link(rel="stylesheet", href="styles/style.min.css")

        title= pageTitle
    body(class="page")
        include ../modules/_header
    
        block content

        include ../modules/_footer
        block scripts
            script(src="scripts/scripts.min.js")