@font-face {
  font-weight: normal;
  font-family: "Caveat";
  font-style: normal;
  src: url("../styles/fonts/Caveat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Geometria";
  font-style: normal;
  src: url("../styles/fonts/Geometria-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Geometria";
  font-style: normal;
  src: url("../styles/fonts/Geometria-Medium.woff2") format("woff2");
  font-display: swap;
}
