.section__title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: $fz-section-sm;

  @include for-size(tablet-portrait) {
    margin-bottom: 45px;
    font-size: $fz-section-md;
  }

  @include for-size(desktop-big) {
    margin-bottom: 65px;
    font-size: $fz-section-lg;
  }
}

.span-block {
  display: block;
}
