$color-regular: #8e80a9;
$color-accent: #e65c7b;
$color-white: #ffffff;
$bg-dark: #8373a1;
$bg-regular: #fcf8fe;

$fz-company: 265px;
$fz-tagline: 45px;
$fz-section: 30px;
$fz-subtitle: 18px;
$fz-medium: 16px;
$fz-regular: 14px;
$fz-small: 12px;
