$color-regular: #8E80A9;
$color-accent: #E65C7B;
$color-white: #ffffff;
$bg-dark: #8373A1;
$bg-regular: #FCF8FE;

$fz-company: 265px;
$fz-tagline: 45px;
$fz-section: 30px;
$fz-subtitle: 18px;
$fz-medium: 16px;
$fz-regular: 14px;
$fz-small: 12px;
