$color-regular: #8e80a9;
$color-accent: #e65c7b;
$color-white: #ffffff;
$bg-dark: #8373a1;
$bg-regular: #fcf8fe;

$fz-company: 265px;
$fz-tagline: 45px;
$fz-section: 30px;
$fz-subtitle: 18px;
$fz-medium: 16px;
$fz-regular: 14px;
$fz-small: 12px;

$fz-company-sm: 67px;
$fz-tagline-sm: 18px;
$fz-section-sm: 18px;
$fz-subtitle-sm: 12px;

$fz-company-md: 144px;
$fz-tagline-md: 24px;
$fz-section-md: 21px;
$fz-subtitle-md: 18px;
$fz-medium-md: 16px;
$fz-regular-md: 12px;
$fz-small-md: 10px;

$fz-company-lg: 265px;
$fz-tagline-lg: 45px;
$fz-section-lg: 30px;
$fz-subtitle-lg: 18px;
$fz-medium-lg: 16px;
$fz-regular-lg: 14px;
$fz-small-lg: 12px;

// Subs
$fz-subscribtion-title-sm: 16px;
$fz-subscribtion-title-md: 18px;

$fz-subscribtion-time-sm: 10px;
$fz-subscribtion-time-md: 12px;

$fz-subscribtion-price-sm: 18px;
$fz-subscribtion-price-md: 21px;
$fz-subscribtion-price-lg: 30px;