extends layouts/_main

block variables
    //- put your vars here
    - var pageTitle= 'Yoga - почувствуй расслабление в своем теле'

block content
    main.main
        h1(class="visually-hidden") Yoga - почувствуй расслабление в своем теле
