header(class="header")
  div(class="container")
    nav(class="nav")
      ul(class="menu")
        +menuItem("#home", "Главная")
        +menuItem("#home", "Направления")
        +menuItem("#home", "Абонементы")
        +menuItem("#home", "О нас")
        +menuItem("#home", "Записаться")
        div(class="mobile-socials")
          ul(class="socials")
            li: a(href="#") <svg class="socials__icon socials__icon--vk"><use xlink:href="images/sprite.svg#sp-vk"></use></svg>
            li: a(href="#") <svg class="socials__icon socials__icon--tw"><use xlink:href="images/sprite.svg#sp-tw"></use></svg>
            li: a(href="#") <svg class="socials__icon socials__icon--fb"><use xlink:href="images/sprite.svg#sp-fb"></use></svg>
      button(class="nav__button button button-menu" type="button")
        span(class="button-menu__item")
        span(class="button-menu__item")
        span(class="button-menu__item")
        span(class="button-menu__text") Меню
      p(class="nav__info")
        a(href="tel:+88126901010") 8 (812) 690-10-10