header(class="header")
  div(class="container")
    nav(class="nav")
      ul(class="menu")
        +menuItem("#home", "Главная")
        +menuItem("#home", "Направления")
        +menuItem("#home", "Абонементы")
        +menuItem("#home", "О нас")
        +menuItem("#home", "Записаться")
      button(class="nav__button button button-menu" type="button")
        span(class="button-menu__item")
        span(class="button-menu__item")
        span(class="button-menu__item")
        span(class="button-menu__text") Меню
      p(class="nav__info")
        a(href="tel:+88126901010") 8 (812) 690-10-10